---

---

<div class="background">
    
    <div class="boks">
       <p>Services</p>
        <h4>Creative Services For Boost <br> Your Business Growth</h4>

    </div>

</div>

<style>
    .background {

    height: 80vh;
    background: url("images/abu.jpeg"), lightgray -0.128px 0px / 100.013% 167.293% no-repeat;;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    
  
    }

    .boks {
        display: inline-flex;
padding: 18px 65px 18px 40px;
flex-direction: column;
align-items: flex-start;
width: fit-content;
margin-left: 15rem;
margin-top: 5rem;


border-radius: 29px;
background: rgba(255, 255, 255, 0.85);
backdrop-filter: blur(5.5px);

    }


    h4 {
    color: #181818;
    font-weight: 600;
    font-family: Cabin;

    line-height: 116%; 
    }

    p {
        background-color: var(--primary01);
        padding: 6px 10px;
        border-radius: 12px;
        margin-bottom: -1.7rem;
        font-style: normal;
font-weight: 400;
line-height: 147.5%; /* 1.475rem */
letter-spacing: 0.145rem;
text-transform: uppercase;
    }
</style>