<div class="container">
    <h6>Studio <br> Green</h6>
    <h6>NORTO</h6>
    <h6>Points <br> ONE </h6>
    <h6>OUTOFTHE <br>SANDBOX</h6>
    <h6>BRAND</h6>
    <h6>FORTUNE</h6>
</div>
<style>
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        
       
     
    }

    h6 {
        line-height: normal;
        color: #030211;
        font-weight: 300;
          display: flex;
        justify-content: center;
        align-items: center;
    }

       h6:nth-child(1) {
        font-family: Syne; 
       font-size: 1.25rem;
        line-height: normal;
    }

    h6:nth-child(2) {
        font-family: Teko;
        font-size: 3.875rem; 
         line-height: normal;
    }

    h6:nth-child(3) {
        font-family: "Times New Roman";
        font-size: 1.25rem;
         line-height: normal;
 
    }

    h6:nth-child(4) {
        font-family: Thabit;
        font-size: 1.25rem;
         line-height: normal;

    }

    h6:nth-child(5) {
        font-family: "Tenor Sans"; 
        font-size: 2.5rem;
         line-height: normal;
    }

    h6:nth-child(6) {
      
        font-family: Poppins; 
        background-color: #0302116b;
        border-radius: 90%;
        width: 200px;
        font-size: 1.1875rem;
        line-height: normal;
        height: 70px;
      
    }

</style>
