---
import Button2 from "../components/Button2.astro";
---



<div class="container">

    <img src="images/computer.png" alt="">
    <div class="boks">
        <div class="tekst">
            <h6>Case Name</h6>
            <p>Taxes & Efficiency</p>
        </div>
         <div class="tekst">
            <h6>Category</h6>
            <p>Business</p>
        </div>
         <div class="tekst">
            <h6>Date</h6>
            <p>27th September 2022</p>
        </div>

        <Button2 />

    </div>

</div>



<style>


    .container {
        display: grid;
        place-items: center;
    }

    img {
        width: 90%;
    }

    h6, p {
        color: white;
       margin: 1.5rem
    }

    .boks {
        border-radius: 1.875rem;
        background: #181818;
        width: 50rem;
        padding: 2.3125rem 3.75rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0.625rem;
        margin-top: -4rem;
        
        
    }
</style>