<div class="container">
<div class="flex">
    <div class="tekst">
    <p class="titleblack">Contact</p>
    <h3>Ready To Talk?</h3>
    <p> Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque.
Massa placerat duis ultricies lacus sed turpis. Pellentesque  pellentesque habitant morbi tristique</p> 

  <div class="submit"> 
    <input type="text" placeholder="Your Email Adress">
    <button>Send Message</button>
 </div>

</div>


</div>

</div>
</div>

<style>

    button {
        border-radius: 2.625rem;
background: #4EAF4E;
padding: 1rem 1.6875rem;
color: #FFF;
    }

    input {
        padding: 16px;
  border-radius: 3.375rem;
border: 1px solid #C1C1C1;
width: 18rem;


background: #FFF;
    }

    .flex {
        display: flex;
    }
    h3, p {
        color: var(--secondary02);
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
   border-radius: 1.875rem;
background: #181818;
background-image: url(images/email.jpg);
background-repeat: no-repeat;
background-position: right;
        width: 70rem;
        padding: 2.5rem;
    }
    .billede {
        display: flex;
    }

    .tekst {
        width: 65ch;
    }

    .submit {
        display: flex;
        justify-content: start;
        gap: 2rem;
        padding-top: 1rem;
    }

     @media (max-width: 768px) {
        .container {
            width: 100%;
            padding: 1.5rem;
        }

        input {
            width: 100%;
        }

        .tekst {
            max-width: 100%;
        }
    }



  
</style>