---
import Grid1 from "./Grid1.astro"
---


<div class="container">
    <div class="tekst">
        <p class="title">Process</p>
        <h4>Contact Us. It's Easy</h4>
        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative.</p>
    <div class="iconer">
        <div class="ring">
                <img src="images/telefon.svg" alt="">
            <div class="minitekst">
                <p>Call Today <br> <span>+1 800 100 900</span></p>
           
             </div>
         </div>
         <div class="ring">
                 <img src="images/ur.svg" alt="">
            <div class="minitekst">
                <p>Monday To Friday <br> <span>9AM - 5PM</span></p>
           
             </div>
        </div>
        <div class="ring">
                <img src="images/loki.svg" alt="">
            <div class="minitekst">
             <p>USA Office <br> <span>195 Devonshire St Boston, MA 02110</span></p>
        </div>
           
    </div>
</div>
    </div>
 
<div class="b">
    <Grid1 />
    </div>
  

</div>

<style>

 

    .ring {
        display: flex;
        gap: 1rem;
     
    }

    .iconer {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    .iconer img {
        max-width: 50px;
    }
   

    .minitekst {
       display: flex;
       flex-direction: column; 
       
    }


    .container {
        display: flex;
        container-name: main;
       
    }
     @media (width < 1000px) {
        .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        }

        .b {
            display: flex;
            justify-content: center;
            max-width: fit-content;
           
            
        }
    }



</style>