---

---

<div class="background">
    <div class="boks">
       <p class="title">Team</p>
        <h4>The Consultors</h4>

    </div>

</div>

<style>
    .background {

    height: 80vh;
    width: 100vw;
    background: url("images/team.jpeg");
   background-size:cover;
    background-repeat: no-repeat;
 
  
    }

    h4 {
        margin: 0.5rem;
    }

    p {
        margin: 0.5rem;
       
    }

    .boks {
        display: inline-flex;
padding: 18px 65px 18px 40px;
flex-direction: column;
align-items: flex-start;

border-radius: 29px;
background: rgba(255, 255, 255, 0.85);
backdrop-filter: blur(5.5px);
position: relative;
top: 7.5rem;
left: 12rem;
    }

    h4 {
    color: #181818;
    font-weight: 600;
    font-family: Cabin;

    line-height: 116%; 
    }


</style>