<div class="container">
    <div class="top">
        <div class="tekst">

        <h2>Meet Our Great Team</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
        <div class="knap">
            <button>
                <p>Join Our Team</p>
             </button>
        </div>
    </div>
</div>



  

                
  


    <style>







.container {
    max-width: 1150px;
    gap: 2rem;
    display: flex;
     flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.top {
    display: flex;
     flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end; /* Align items at the bottom */
    width: 72rem;
}

.knap {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 16px;
}

        .mere {
            display: flex;
            justify-content: space-between;
        }

    
        .card h3 {
            line-height: 130%;
        }

        .tekst {
            width: 60%;
        }

          button {
    border-radius: 42px;
    background: #181818;
    color: #FFF;
    display: flex;
    width: fit-content;
    padding: 0px 40px;
    align-items: flex-start;
    
   
    }

    button:hover {
        border-radius: 42px;
        border: 2px solid #181818;
        background: #FFF; 
    }

    .knap p {
        color: #FFF;
    }

    button:hover p {
     color: #181818;
    }

    @media (max-width: 768px) {
    .top {
        flex-direction: column;
        width: 100%; 
        align-items: stretch; 
    }
    .tekst {
        width: 100%; 
        margin-bottom: 20px; 
    }
    .knap {
        justify-content: start; 
    }
}
  

    

    
    </style>

    
             