<div class="container">
    <div class="top">
        <div class="tekst">
        <p class="title">Growing with our clients</p>
        <h2>Our core values & principles</h2>
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
        </div>
        <div class="knap">
            <button>
                <p>Get In Touch</p>
             </button>
        </div>
    </div>
</div>



  

                
  


    <style>



.cardtext {
    display: block;
    
}
.title {
    background-color: var(--primary01);
    width: fit-content;
    padding: 0px 12px;
    border-radius: 10px;
  color: #181818;




font-style: normal;
font-weight: 400;
line-height: 147.5%; /* 1.475rem */
letter-spacing: 0.145rem;
text-transform: uppercase;
}



.container {
    max-width: 72rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Align items at the bottom */
    width: 72rem;
}

.knap {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 16px;
    
}

        .mere {
            display: flex;
            justify-content: space-between;
        }

        .cardcontainer {
            display: flex;
            justify-content: center;
            align-items: top;
           
            gap: 1.1875rem;
            width: 72rem;
          

        }
        .card {
            background-color: var( --secondary02);
            padding: 2.5rem 1.4375rem;
            gap: 1rem;          
            border-radius: 1.25rem;
            border: 1px solid #EAEAEA;
            width: 14rem;
            align-items: baseline;
            height: fit-content;
         
        }

        .card h3 {
            line-height: 130%;
        }

        .tekst {
            width: 60%;
        }

          button {
    border-radius: 42px;
    background: #181818;
    color: #FFF;
    display: flex;
    width: fit-content;
    padding: 0px 40px;
    align-items: flex-start;
    
   
    }

    button:hover {
        border-radius: 42px;
        border: 2px solid #181818;
        background: #FFF; 
    }

    .knap p {
        color: #FFF;
    }

    button:hover p {
     color: #181818;
    }

    .card:hover {
        scale: 1.01;
        transition: 200ms;
    }

    

    
    </style>

    
             