---
import Expectvideo from "./Expectvideo.astro"
---


<div class="container">
    <p class="titlegreen"> OUR HISTORY</p>
    <h5>Strategy for Every Stage in the Client's Journey</h5>
    <Expectvideo />
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #181818;
        width: 100vw;
        padding-top: 6rem;
        padding-bottom: 6rem;
       
       
    }

    h5 {
        color: #FFF;
       width: 32.625rem;

text-align: center;
font-family: Cabin;
    }
</style>